.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  background-color: var(--form-color);
}

.elementList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  inline-size: 24px;
  aspect-ratio: 1/1;
}

.button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--disabled-color);
}

.dividerText {
  padding: 0 10px;
  white-space: nowrap;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

.submitButton {
  margin-block-start: 32px;
  inline-size: 100%;
}

.nameWrapper {
  display: flex;
  gap: 16px;
}

.registrationLink {
  color: var(--accent-color);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nameWrapper{
    flex-direction: column;
  }
}

@media (max-width: 510px) {

  .registrationForm{
    padding: 20px;
  }
}



