.primary,
.secondary,
.tertiary {
  border-radius: 0.75rem;
  padding: 0.75rem 2.125rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--accent-color);
  color: var(--form-color);
  font-weight: 600;
  box-shadow: 0 0 12px 4px var(--primary-shadow-color);
}

.primary:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
  box-shadow: none;
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--button-color);
}

.fullWidth {
  width: 100%;
}
